ADMIN_INVITE_KEY=your_admin_invite_key
PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/votify
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d

MAGIC_LINK_TOKEN_EXPIRE=1800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM=your_email@gmail.com

BLOCKCHAIN_RPC_URL=http://127.0.0.1:7545
BLOCKCHAIN_MNEMONIC="your mnemonic here"

BLOCKCHAIN_ELECTION_FACTORY_ADDRESS=your_contract_address
BLOCKCHAIN_VOTING_ADDRESS=your_contract_address

# reCAPTCHA v3 Keys
RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET=your_recaptcha_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
